<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30559682102-g81q57c4bgikar7eirrcedhsvp7innb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30559682102-g81q57c4bgikar7eirrcedhsvp7innb7</string>
	<key>API_KEY</key>
	<string>AIzaSyAqdqJ9PZIB0Qq07kyFf_uYbsCXKFYlKfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>30559682102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arseniilaputska.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchatios-bdd07</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatios-bdd07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30559682102:ios:243932f68776c00499a297</string>
</dict>
</plist>